{% extends "main.html" %}
{% block content %}


    <!-- SECTION WELCOME -->
    <section id="advisor-title">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                	<h1 class="wow fadeInDown"></span></h1>
                </div>
            </div>
        </div>
    </section>


		<!-- REPORT -->
	<section id="methodology">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-8 col-lg-offset-2 text-center">
                	<h2 class="uppercase">About The Crowdsourcing Design Advisor</h2>
                </div>
                <!-- ACTIVITY !-->
                <div class="col-lg-10 col-lg text-left">
                	<h2 class="uppercase">The Challenge</h2>
                    <p>Knowing when and how to use crowdsourcing is hard:</p>
                    <ul>
                    	<li>There are more than 40 different definitions of crowdsourcing and knowing how to design an effective project is difficult.</li>
						<li>There is little conclusive evidence of what works and when it works.</li>
						<li>There is an abundance of tools and examples but information is disorganized and not always well-suited to help a decision-maker know what to do.</li>
					</ul>
					<hr>
				</div>

				<div class="col-lg-10 col-lg text-left">
					<h2 class="uppercase">About The Advisor</h2>
					<p>There is an abundance of crowdsourcing tools and examples but information is disorganized and not always well-suited to help a decision-maker know what to do. Under the assumption that there is no one way of doing crowdsourcing but, rather, engagement must be tailored to each needs and circumstances, the Advisor builds on the experience of others and with it, attempts to help decision-makers in the public and private sectors make an informed decision about when and how to use crowdsourcing.</p>

					<p>Through the guided interview the Advisor will also help you identify the key elements one must consider when designing a crowdsourcing project. At the end, it will provide you with a report of the most important case studies (drawn from the knowledge-base) and learnings tailored to your specific needs and circumstances.</p>
					<hr>
				</div>

				<div class="col-lg-10 col-lg text-left">
					<h2 class="uppercase">About The Knowledge Base</h2>
					<p>Inspired by platforms like <a href="http://www.participedia.net/">Participedia</a> and <a href="http://p2pfoundation.net/">P2P Foundation</a>, our knowledge-base is an open, real-time, cumulative qualitative and quantitative data-repository on crowdsourcing.</p>
					<p>We understand crowdsourcing as the process in which an individual, an institution, or an organization proposes to another group of individuals the voluntary undertaking of a participative online activity, however, we recognize there is no official definition. Our main objective is to be as broad as possible, so that anyone doing research on crowdsourcing could select and use the case-studies that fit into their definition of preference.</p>
					<hr>
				</div>

				<div class="col-lg-10 col-lg text-left">
					<h2 class="uppercase">Methodology</h2>
					<p>Our research goal is to develop the largest knowledge-base on crowdsourcing that will support evidence-based answers to the questions like when are crowds wise, when are they not, how to leverage that wisdom through crowdsourcing and how to define metrics that demonstrate success.</p>
					<p>Our strategy is to gather information by inviting anyone who has or continues to have a project on crowdsourcing to share their story by filling out this questionnaire. By answering this questionnaire you will give us enough information to:</p>
					<ol>
						<li>create and add your case-study in our Knowledge Base;</li>
						<li>leverage and input your learnings and experience into the Advisor, and;</li>
						<li>help us advance our research by identifying the best practices on crowdsourcing for the benefit of institutions and communities and ultimately, improving people’s lives.</li>
					</ol>
					<p>If you prefer, we could also interview you directly by phone or online hangout. Additionally, we are trying to create a community with the leading experts on crowdsourcing, so if you are doing research on the matter, please feel free to contact us to <a href="mailto:crowdsourcing@thegovlab.org">crowdsourcing@thegovlab.org</a>. We would love you to become part of our team.</p>
					<p>Our goal is that each case-study contains data on all of the following variables: area of focus; sector; scope; location; type of activity(ies); participation; incentives for participation; interface; quality control; general description; historical information; size; duration; cost; platform; outputs; impact; description of the crowd; challenges; lessons learned; and validation or why did they decided to use crowdsourcing over any other project.</p>
					<p>The data for all or a selection of cases can be downloaded as a CSV file that is also compatible with Excel.</p>
					<hr>
				</div>

				<div class="col-lg-10 col-lg text-left">
					<h2 class="uppercase">About The GovLab</h2>
					<p>The GovLab is an action-research center with a mission to improve people’s lives by changing the way we govern. We aim to accomplish this by leveraging advances in technology to enable more open, collaborative, effective, and legitimate ways to make better decisions and solve public problems.</p>
                </div>
                <div class="col-lg-10 text-center">
					<a href="http://www.thegovlab.org/" target="_blank"><img src="img/govlab-logo-dark.png"></a>
				</div>
            </div>
        </div>
    </section>



{% endblock %}
