{% extends "main.html" %}
{% block content %}


    <!-- SECTION WELCOME -->
    <section id="advisor-title">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                	<h1 class="wow fadeInDown"></span></h1>
                </div>
            </div>
        </div>
    </section>


		<!-- REPORT -->
	<section id="methodology">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-8 col-lg-offset-2 text-center">
                	<h2 class="uppercase">About The NYU State Authorization Advisor</h2>
                </div>
                <!-- ACTIVITY !-->
                <div class="col-lg-10 col-lg text-left">
                	<h2 class="uppercase">The Challenge</h2>
                    <p>Understanding when and how to apply for State authorization is hard:</p>
                    <ul>
                    	<li>Quomodo vos, Athenienses, affecerint accusatores mei, nescio.</li>
						<li>Ego certe ipse quoque illis dicentibus paene mei sum oblitus.</li>
						<li>Adeo ad persuadendum apposita eorum erat oratio, quamquam veri quidem nihil propemodum dixerunt. .</li>
					</ul>
					<hr>
				</div>

				<div class="col-lg-10 col-lg text-left">
					<h2 class="uppercase">About The Advisor</h2>
					<p>Sed ex plurimis rebus quas mentiti sunt maxime unam sum hanc miratus, quod monebant cavendum esse vobis, ne a me deciperemini, quippe qui eloquens essem. quod enim eos non puduit huius mendacii; quum statim re ipsa convicturus sim nullo me modo eloquentem esse, id mihi visum est ab iis imprudentissime fieri, nisi forte eloquentem hi vocant eum, qui vera dicat.</p>

					<p>Quodsi enim hoc volunt, fatebor equidem oratorem me esse, sed istorum dissimilem. isti igitur, ut ego aio, nihil veri dixerunt, vos autem ex me, audietis quomodo res se habeat neque tamen hercle, Athenienses, orationem, qualis horum, verbis et vocabulis pulchris illustratam, neque ornatam audietis, sed subito dicta et quotidianis vocabulis exposita; etenim credo iusta esse quae dico; et ne quisquam vestrum exspectet aliter.</p>
					<hr>
				</div>

				<div class="col-lg-10 col-lg text-left">
					<h2 class="uppercase">About Our Database Base</h2>
					<p>Neque enim, opinor, deceret, cives, hanc aetatem, velut adolescentulum cum oratione facta ad vos prodire. at vero, hoc etiam atque etiam, Athenienses, vos rogo atque oro ut, si me eodem genere audias, pro me dicentem, quo loqui sum solitus et in foro apud mensas, ubi me vestrum plerique audierunt, et aliis in locis, nec miremini neque ob illud obstrepatis. nam ita se res habet.</p>

					<p>Nunc ego primum in suggestum iudicii adscendi, annos natus plus septuaginta: prorsus igitur hospes sum in dictione hic usitata. quemadmodum igitur, si revera hospes essem, veniam mihi, opinor, daretis, si et lingua et modo illo loquerer in quibus nutritus essem, ita etiam nunc a vobis peto, id quod iustum est, ut arbitror, ut mihi dicendi modum permittatis (fortasse enim aliquantulum deterior erit, fortasse melior), idque solum consideretis atque ad id animum advertatis, utrum iusta dicam necne; nam iudicis haec est virtus, oratoris autem vera dicere.</p>
					<hr>
				</div>

				<div class="col-lg-10 col-lg text-left">
					<h2 class="uppercase">Methodology</h2>
					<p>Primum igitur aequum est, Athenienses, me ad prima quae in me iacta sunt mendacia et primis accusatoribus respondere; deinde ad posteriora et posterioribus. Mihi enim apud vos multi exstiterunt accusatores, qui iam pridem multos per annos et nihil veri dixerunt; quos ego magis metuo quam Anytum eiusque socios, quamvis etiam hi sint graves; verum illi sunt graviores, qui vestrum plerosque a pueritia occupaverint rem persuadentes, quam crimini mihi darent, falsissimam: esse quendam Socratem, virum sapientem, qui et caelestia curet, et quae sub terra sint omnia perquisierit causamque inferiorem efficiat superiorem. hi quod eam famam sparserunt, Athenienses.</p>
					<hr>
				</div>
            </div>
        </div>
    </section>



{% endblock %}
