{% extends "main.html" %}
{% block content %}


    <!-- SECTION WELCOME -->
    <section id="advisor-title">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>


        <!-- SECTION TESTIMONIAL -->
        <div class="row">
            	<div class="col-lg-12 text-center">
            		<h1 class="wow fadeInDown">The NYU State Authorization Advisor</span></h1>
                </div>
            </div>
		<section id="questionnaire" data-stellar-background-ratio="0.9">
        	<div class="container">

                <div class="custom-navigation-numbers">
            		<div class="custom-page active 1"><span class="custom-number">1</span></div>
            		<div class="custom-page 2"><span class="custom-number">2</span></div>
            		<div class="custom-page 3"><span class="custom-number">3</span></div>
            		<div class="custom-page 4"><span class="custom-number">4</span></div>
            		<div class="custom-page 5"><span class="custom-number">5</span></div>
            		<div class="custom-page 6"><span class="custom-number">6</span></div>
            		<div class="custom-page 7"><span class="custom-number">7</span></div>
            		<div class="custom-page 8"><span class="custom-number">8</span></div>
            	</div>
                
                <div id="questionnaire-carousel" class="owl-carousel owl-theme">

    <div class="item col-lg-8">
    	<h4 class="uppercase">The NYU State Authorization Advisor will help you answer the following questions:</h4>

		<ul>
			<li>Does my Institution need Approval?</li>
			<li>How long will it take? </li>
			<li>How much will it cost?</li>
			<li>Should I join NC-SARA?</li>
			<li>Can my Institution apply for exemption?</li>
			<li>What are the next steps?</li>
		</ul>
    </div>
    
    <!-- Screen 2 -->
    <div class="item col-lg-8">
    	<h4 class="uppercase">Does your Institution requires State authorization from New Mexico?</h4>
        <p class="questionnaire-intro">According to the <a href="http://www.hed.state.nm.us/">New Mexico Higher Education Department (NMHED)</a>, a program or institiution is considered to have a physical presence in New Mexico if it offers courses, programs or degrees on-site or from a geographical site in New Mexico, or if it maintains an administrative, corporate or other address in the state. Based on the responses your provide, your state authorization advisor will help you to determine if your program or institution should seek authorization with the New Mexico Higher Education Department, or take some other action.</p>
        <ul>
			<li>Click <strong> "next" </strong> to begin the process to determine the approriate course of action for your institution.</li>
		</ul>
    </div>
                    
    <div class="item col-lg-8">
    	<h4 class="uppercase">Is your institution...</h4>
        <p class="question-prompt"><span class="question-number">1. </span>Please select all that apply:</p>
        <div class="answer-choice">
        	<label for="q1-tasks"><input type="checkbox" name="question" id="q1-tasks">Private </label>
        </div>
        <div class="answer-choice">
        	<label for="q1-data"><input type="checkbox" name="question" id="q1-data">Public </label>
        </div>
        <div class="answer-choice">
        	<label for="q1-funds"><input type="checkbox" name="question" id="q1-funds">Non-profit </label>
        </div>
        <div class="answer-choice">
        	<label for="q1-opinions"><input type="checkbox" name="question" id="q1-opinions">For-profit </label>
        </div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">Degree-granting </label>
		</div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">Non-degree-granting </label>
		</div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">Religious </label>
		</div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">Career-vocational </label>
		</div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">None of the above </label>
		</div>
	</div>

	<div class="item col-lg-8">
		<h4 class="uppercase">Is your institution accredited by a body recognized by BOTH the U.S. Department of Education and the New Mexico Higher Education Department?</h4>
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><i class="fa fa-chevron-circle-right"></i> Currently non-accredited but planning to work towards accreditation?</p>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">
						Non-accredited institutions may go through the authorization process, but must demonstrate a plan to become accredited within three years.  
					</div>
				</div>
			</div>
		</div>
	    <p class="question-prompt"><span class="question-number">2. </span>If your institution can meet this criteria, select <strong> "yes" </strong>. </p>
		<div class="answer-choice">
			<label for="q2-finance"><input type="checkbox" name="question" id="q2-finance">Yes</label>
		</div>
		<div class="answer-choice">
			<label for="q2-knowledge"><input type="checkbox" name="question" id="q2-knowledge">No</label>
		</div>
	</div>

	<div class="item col-lg-8">
    	<h4 class="uppercase">Does your institution employee any agents who provide organized, consistent, on-the-ground recruiting of students in New Mexico? </h4>
    	<div class="accordion" id="accordion3">
			<div class="accordion-group">
				<div class="accordion-heading">
					<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree"><i class="fa fa-chevron-circle-right"></i> What about agents that provide occasional recruiting?</p>
				</div>
				<div id="collapseThree" class="accordion-body collapse">
					<div class="accordion-inner">
						For ONLY occasional recruiting of students outside of your institution's home state (i.e. job fairs in New Mexico) by your institution's employees or agents, Select "No".If agents recruit at re-occuring events, select "Yes". 
					</div>
				</div>
			</div>
		</div>
        <p class="question-prompt"><span class="question-number">3. </span>If your institution can meet this criteria, select <strong> "yes" </strong>.</p>
		<div class="answer-choice">
			<label for="q3-yes"><input type="checkbox" name="question" id="q3-yes">Yes</label><span class="option-explanation"></span>
		</div>
		<div class="answer-choice">
			<label for="q3-no"><input type="checkbox" name="question" id="q3-no">No</label><span class="option-explanation"></span>
		</div>
	</div>

	<!-- Screen -->
	<div class="item col-lg-8">
    	<h4 class="uppercase">How many employees or agents does your institution have that provide organized, consistent, on-the-ground recruiting of students in New Mexico?</h4>
        <p class="question-prompt"><span class="question-number">4. </span>Please give us a specific number:</p>
		<div class="answer-choice"><label for="q4-mobile"><input type="checkbox" name="question" id="q4-mobile">***Space to give a number***</label></div>
	</div>

	<!-- Screen -->
	<div class="item col-lg-8">
		<h4 class="uppercase">Does your institution offer programs that lead to licensure and/or that require external approval from a seperate organization or entity ( e.g. nursing, education, cosmetology, trucking, etc.)?</h4>
		<div class="accordion" id="accordion5">
			<div class="accordion-group">
				<div class="accordion-heading">
					<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive"><i class="fa fa-chevron-circle-right"></i> What types of programs require external approval in New Mexico? </p>
				</div>
				<div id="collapseFive" class="accordion-body collapse">
					<div class="accordion-inner">
						Education; Nursing; Cosmetology; Acupuncture and Oriental Medicine; Massage Therapy; Private Investigations; Allied Health Professions. 
					</div>
				</div>
			</div>
		</div>
		<div class="accordion" id="accordion6">
			<div class="accordion-group">
				<div class="accordion-heading">
					<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix"><i class="fa fa-chevron-circle-right"></i> More on licensure and the New Mexico Higher Education Department (NMHED). </p>
				</div>
				<div id="collapseSix" class="accordion-body collapse">
					<div class="accordion-inner">
						In addition to the programs listed that require external program approval, there are 29 Boards and Commissions Divisions that provide professional licensure and may have jurisdiction over the respective programs and institutions offering such programs. At times an institution may be under both, the oversight of NMHED and a board. If the institutionis offering programs not falling under the jurisdiction of the particular board or department, responsible for the institution's oversigt, then the oversight responsibility falls to NMHED. 
					</div>
				</div>
			</div>
		</div>
	    <p class="question-prompt"><span class="question-number">5. </span>If your institution offers any of these programs that lead to licensure, select "yes." This will trigger regulatory action with the New Mexico Higher Education Department.</p>
		<div class="answer-choice">
			<label for="q5-you"><input type="checkbox" name="question" id="q5-you">Yes</label>
		</div>
		<div class="answer-choice">
			<label for="q5-group"><input type="checkbox" name="question" id="q5-group">No</label>
		</div>
		<div class="answer-choice">
			<label for="q5-voting"><input type="checkbox" name="question" id="q5-voting">Do not know</label>
	</div>

	<div class="item col-lg-8">
    	<h4 class="uppercase">Does your institution offer any of the following in New Mexico?</h4>
    </div>
					
			<!-- Screen -->	

					 <div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution offer any of the following in New Mexico?</h4>
	                	<div class="accordion" id="accordion7">
							<div class="accordion-group">
								<div class="accordion-heading">
									<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven"><i class="fa fa-chevron-circle-right"></i> Currently non-accredited but planning to work towards accreditation?</p>
								</div>
								<div id="collapseSeven" class="accordion-body collapse">
									<div class="accordion-inner">
										Non-accredited institutions may go through the authorization process, but must demonstrate a plan to become accredited within three years.  
									</div>
								</div>
							</div>
						</div>
	                    <p class="question-prompt"><span class="question-number">6. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q6-seminars"><input type="checkbox" name="question" id="q6-seminars"> Host short-term, face-to-face seminars or conferences?</label>
						</div>
						<div class="answer-choice">
							<label for="q6-intern"><input type="checkbox" name="question" id="q6-intern">Permit a student to complete an internship, externship, field experience, or clinical practicum organized by your institution?</label>
						</div>
						<div class="answer-choice">
							<label for="q6-independent"><input type="checkbox" name="question" id="q6-independent">Permit a student to complete an internship, externship, field experience, or clinical practicum organized by the student acting independently?</label>
						</div>
						<div class="answer-choice">
							<label for="q6-none"><input type="checkbox" name="question" id="q6-none">None of the above</label>
						</div>
						<div class="answer-choice">
							<label for="q6-dunno"><input type="checkbox" name="question" id="q6-dunno">Do not know </label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution require students outside of your home state to physically meet in a location for instructional purposes in New Mexico for (a) 40 or more hours, (b) at a cost of $500 or more, AND/OR (c) include typical enrollment as completion of a sequence, series, or multiple courses?</h4>
	                    <p class="question-prompt"><span class="question-number">7. </span> Select one option. </p>
						<div class="answer-choice">
							<label for="q7-yes"><input type="checkbox" name="question" id="q7-yes"> Yes </label>
						</div>
						<div class="answer-choice">
							<label for="q7-no"><input type="checkbox" name="question" id="q7-no"> No</label>
						</div>
						<div class="answer-choice">
							<label for="q7-dunno"><input type="checkbox" name="question" id="q7-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your insitution maintain any of the following in New Mexico?</h4>
	                    <p class="question-prompt"><span class="question-number">8. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q8-physical"><input type="checkbox" name="question" id="q8-physical"> Maintain a location (physical building) that is used for instructional activity </label>
						</div>
						<div class="answer-choice">
							<label for="q8-non-instructional"><input type="checkbox" name="question" id="q8-non-instructional"> Maintain a location (physical building) that is used only for non-instructional activities (administration,staff, recruitment, etc.) </label>
						</div>
						<div class="answer-choice">
							<label for="q8-both"><input type="checkbox" name="question" id="q8-both"> Maintain a location (physical building) that is used for BOTH, instructional and non-instructional activity? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-equipment"><input type="checkbox" name="question" id="q8-equipment"> House computer servers or other equipment? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-out"><input type="checkbox" name="question" id="q8-out"> Maintain any out-of-state addresses or phone numbers, regardless of use ? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-enrollment"><input type="checkbox" name="question" id="q8-enrollment"> Maintain a physical site, operated by your institution, that provides information to students for the purpose of enrollment (alone or in addition to other  activities)? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-support"><input type="checkbox" name="question" id="q8-support"> Maintain a physical site, operated by the institution that provides student support services (alone or in adittion to other activities)? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-none"><input type="checkbox" name="question" id="q8-none"> None of the above </label>
						</div>
						<div class="answer-choice">
							<label for="q8-dunno"><input type="checkbox" name="question" id="q8-dunno"> Do not know </label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution have a contract/agreement with a New Mexico educational institution or a New Mexico entity (i.e., library, gym, computer center, etc.) to provide services for your insitution's students (i.e., library, gym, computer center, etc.)?</h4>
	                    <p class="question-prompt"><span class="question-number">9. </span> Select one option. </p>
						<div class="answer-choice">
							<label for="q9-yes"><input type="checkbox" name="question" id="q9-yes"> Yes, my institution has one or more of the types of agreements listed above </label>
						</div>
						<div class="answer-choice">
							<label for="q9-no"><input type="checkbox" name="question" id="q9-no"> No</label>
						</div>
						<div class="answer-choice">
							<label for="q9-dunno"><input type="checkbox" name="question" id="q9-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution advertise in any of the following outlets?</h4>
	                    <p class="question-prompt"><span class="question-number">10. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q10-print"><input type="checkbox" name="question" id="q10-print"> A local (New Mexico) print outlet </label>
						</div>
						<div class="answer-choice">
							<label for="q10-radio"><input type="checkbox" name="question" id="q10-radio"> A local (New Mexico) radio outlet </label>
						</div>
						<div class="answer-choice">
							<label for="q10-tv"><input type="checkbox" name="question" id="q10-tv"> A local (New Mexico) television outlet </label>
						</div>
						<div class="answer-choice">
							<label for="q10-none"><input type="checkbox" name="question" id="q10-none"> None of the above</label>
						</div>
						<div class="answer-choice">
							<label for="q10-dunno"><input type="checkbox" name="question" id="q10-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">In New Mexico, does your institution employ any of the following?</h4>
	                    <p class="question-prompt"><span class="question-number">11. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q11-full"><input type="checkbox" name="question" id="q11-full"> Full-time (i.e., non-adjunct) faculty to provide instruction via distance education programs to students in New Mexico </label>
						</div>
						<div class="answer-choice">
							<label for="q11-adjunct"><input type="checkbox" name="question" id="q11-adjunct"> Adjunct faculty in Wyoming to provide instruction via distance education programs to students in New Mexico </label>
						</div>
						<div class="answer-choice">
							<label for="q11-fullwyo"><input type="checkbox" name="question" id="q11-fullwyo"> Full-time (i.e., non-adjunct) faculty in Wyoming to provide instruction via distance education programs solely to students outside of New Mexico </label>
						</div>
						<div class="answer-choice">
							<label for="q11-adjwyo"><input type="checkbox" name="question" id="q11-adjwyo"> Adjunct faculty in Wyoming to provide instruction via distance education programs solely to students outside New Mexico </label>
						</div>
						<div class="answer-choice">
							<label for="q11-none"><input type="checkbox" name="question" id="q11-none"> None of the above</label>
						</div>
						<div class="answer-choice">
							<label for="q11-dunno"><input type="checkbox" name="question" id="q11-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution offer any distance education programs (including online or correspondence study programs) that enroll New Mexico residents?</h4>
	                	<div class="accordion" id="accordion8">
							<div class="accordion-group">
								<div class="accordion-heading">
									<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion8" href="#collapseEight"><i class="fa fa-chevron-circle-right"></i> Does the extent to which a distance education program is offerred online matter for authorization in New Mexico?</p>
								</div>
								<div id="collapseEight" class="accordion-body collapse">
									<div class="accordion-inner">
										Regardless of the percentage in which a program is offered online that enrolls New Mexico students, any institution with a physical presence in New Mexico must register for authorization.  
									</div>
								</div>
							</div>
						</div>
	                    <p class="question-prompt"><span class="question-number">12. </span> If your institution offers any format of a distance education offering that enrolls New Mexico students, check "yes". </p>
						<div class="answer-choice">
							<label for="q12-yes"><input type="checkbox" name="question" id="q12-yes"> Yes </label>
						</div>
						<div class="answer-choice">
							<label for="q12-no"><input type="checkbox" name="question" id="q12-no"> No</label>
						</div>
						<div class="answer-choice">
							<label for="q12-dunno"><input type="checkbox" name="question" id="q12-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase"> Does your program or institution meet at least one of the 8 conditions for exemption?</h4>
	                    <div class="accordion" id="accordion9">
							<div class="accordion-group">
								<div class="accordion-heading">
									<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion9" href="#collapseNine"><i class="fa fa-chevron-circle-right"></i> Do you have proof of eligibility for exemption?</p>
								</div>
								<div id="collapseNine" class="accordion-body collapse">
									<div class="accordion-inner">
										If your program or institution qualifies for exemption with the New Mexico Department of Higher Education, you will need to provide proof that you meet one of the 8 conditions. 
									</div>
								</div>
							</div>
						</div>
	                    <p class="question-prompt"><span class="question-number">13. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q13-second"><input type="checkbox" name="question" id="q13-second"> Your Institution is a post-secondary educational institution that is established by name as an educational institution by the state through a charter, constitutional provision or other action and is supported in whole or in part by state or local taxation;  </label>
						</div>
						<div class="answer-choice">
							<label for="q13-indian"><input type="checkbox" name="question" id="q13-indian">  Your Institution is funded in full or in part by an Indian tribe or pueblo in the state of New Mexico; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-trade"><input type="checkbox" name="question" id="q13-trade">  Institution is an occupational, trade, or professional school operating pursuant to any New Mexico Occupational licensing law under the jurisdiction of the New Mexico Regulation and Licensing Department; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-training"><input type="checkbox" name="question" id="q13-training"> Your Insitution consists of courses of instruction provided by an employer for its employees for training purposes; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-frat"><input type="checkbox" name="question" id="q13-frat"> You have a course of instruction or study sponsored by a recognized fraternal, trade, business, or professional organization or labor union for the instruction of its members; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-org"><input type="checkbox" name="question" id="q13-org"> Organization provides only brief courses of instruction designed to teach specific skills that may be applicable in a work setting but are not sufficient in themselves to be considered programs of training in employment. Normally, such instruction shall meet at least three criteria: (a) No more than 40 hours of direct instruction, (b) Tuition/fee for each course does not exceed $500, and (c) The student normally enrolls for only one course rather than a sequence of courses; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-exclu"><input type="checkbox" name="question" id="q13-exclu"> Your Institution exclusively offers education that is solely avocational or recreational in nature; and/or, </label>
						</div>
						<div class="answer-choice">
							<label for="q13-chart"><input type="checkbox" name="question" id="q13-chart"> Institution is a chartered, nonprofit religious institutions whose sole purpose is to train students in religious disciplines to prepare them to assume a vocational objective relating primarily to religion (501(c)3 IRS status letter required). </label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Is your institution part of a multi-insitutition system (example: State University of New York - SUNY)?</h4>
	                    <p class="question-prompt"><span class="question-number">14. </span> Select one option. </p>
						<div class="answer-choice">
							<label for="q14-yes"><input type="checkbox" name="question" id="q14-yes"> Yes </label>
						</div>
						<div class="answer-choice">
							<label for="q14-no"><input type="checkbox" name="question" id="q14-no"> No </label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">What is your institution's anticipated or actual gross annual tuition and fee revenue in New Mexico?</h4>
	                	<div class="accordion" id="accordion10">
							<div class="accordion-group">
								<div class="accordion-heading">
									<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion10" href="#collapseTen"><i class="fa fa-chevron-circle-right"></i> How to calculate?</p>
								</div>
								<div id="collapseTen" class="accordion-body collapse">
									<div class="accordion-inner">
										If your institution has generated tutition and fee revenue in New Mexico in the last completed academic year, provide this total. Otherwise, estimate as best as you can the anticipated gross annual tuition and fee revenue for New Mexico related activity for your institution.
									</div>
								</div>
							</div>
						</div>
	                    <p class="question-prompt"><span class="question-number">15. </span> Please give us a specific number: </p>
						<div class="answer-choice">
							<label for="q15-yes"><input type="checkbox" name="question" id="q15-yes"> XXXX (client should enter dollar amount). Field should be constrained to max $XXX, XXX,XXX.00 and minimum $0.00 </label>
						</div>
					</div>





							<button class="button button-big button-border-light button-generate-report">Generate Report</button>
						</div>
					</div>
            	</div>
            	<div class="custom-navigation-buttons">
				  <a class="btn prev prev-verify">Previous</a>
				  <a class="btn next next-verify">Next</a><br>
				  <span class="error-message"></span>
				</div>
        	</div>
        </section>


{% include "report.html" %}


        





{% endblock %}