{% extends "main.html" %}
{% block content %}


    <!-- SECTION WELCOME -->
    <section id="advisor-title">
    	<div class="container">
        	<div class="row">
            	<div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>


        <!-- SECTION TESTIMONIAL -->
        <div class="row">
            	<div class="col-lg-12 text-center">
            		<h1 class="wow fadeInDown">The NYU State Authorization Advisor</span></h1>
                </div>
            </div>
		<section id="questionnaire" data-stellar-background-ratio="0.9">
        	<div class="container">

                <div class="custom-navigation-numbers">
            		<div class="custom-page active 1"><span class="custom-number">1</span></div>
            		<div class="custom-page 2"><span class="custom-number">2</span></div>
            		<div class="custom-page 3"><span class="custom-number">3</span></div>
            		<div class="custom-page 4"><span class="custom-number">4</span></div>
            		<div class="custom-page 5"><span class="custom-number">5</span></div>
            		<div class="custom-page 6"><span class="custom-number">6</span></div>
            		<div class="custom-page 7"><span class="custom-number">7</span></div>
            		<div class="custom-page 8"><span class="custom-number">8</span></div>
            	</div>
                
                <div id="questionnaire-carousel" class="owl-carousel owl-theme">

    <div class="item col-lg-8">
    	<h4 class="uppercase">The NYU State Authorization Advisor will help you answer the following questions:</h4>

		<ul>
			<li>Does my Institution need Approval?</li>
			<li>How long will it take? </li>
			<li>How much will it cost?</li>
			<li>Should I join NC-SARA?</li>
			<li>Can my Institution apply for exemption?</li>
			<li>What are the next steps?</li>
		</ul>
    </div>
    
    <!-- Screen 2 -->
    <div class="item col-lg-8">
    	<h4 class="uppercase">Does your Institution requires State authorization from New Mexico?</h4>
        <p class="questionnaire-intro">According to the <a href="http://www.hed.state.nm.us/">New Mexico Higher Education Department (NMHED)</a>, a program or institiution is considered to have a physical presence in New Mexico if it offers courses, programs or degrees on-site or from a geographical site in New Mexico, or if it maintains an administrative, corporate or other address in the state. Based on the responses your provide, your state authorization advisor will help you to determine if your program or institution should seek authorization with the New Mexico Higher Education Department, or take some other action.</p>
        <ul>
			<li>Click <strong> "next" </strong> to begin the process to determine the approriate course of action for your institution.</li>
		</ul>
    </div>
                    
    <div class="item col-lg-8">
    	<h4 class="uppercase">Is your institution...</h4>
        <p class="question-prompt"><span class="question-number">1. </span>Please select all that apply:</p>
        <div class="answer-choice">
        	<label for="q1-tasks"><input type="checkbox" name="question" id="q1-tasks">Private </label>
        </div>
        <div class="answer-choice">
        	<label for="q1-data"><input type="checkbox" name="question" id="q1-data">Public </label>
        </div>
        <div class="answer-choice">
        	<label for="q1-funds"><input type="checkbox" name="question" id="q1-funds">Non-profit </label>
        </div>
        <div class="answer-choice">
        	<label for="q1-opinions"><input type="checkbox" name="question" id="q1-opinions">For-profit </label>
        </div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">Degree-granting </label>
		</div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">Non-degree-granting </label>
		</div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">Religious </label>
		</div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">Career-vocational </label>
		</div>
		<div class="answer-choice">
			<label for="q1-ideas"><input type="checkbox" name="question" id="q1-ideas">None of the above </label>
		</div>
	</div>

	<div class="item col-lg-8">
		<h4 class="uppercase">Is your institution accredited by a body recognized by BOTH the U.S. Department of Education and the New Mexico Higher Education Department?</h4>
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo"><i class="fa fa-chevron-circle-right"></i> Currently non-accredited but planning to work towards accreditation?</p>
				</div>
				<div id="collapseTwo" class="accordion-body collapse">
					<div class="accordion-inner">
						Non-accredited institutions may go through the authorization process, but must demonstrate a plan to become accredited within three years.  
					</div>
				</div>
			</div>
		</div>
	    <p class="question-prompt"><span class="question-number">2. </span>If your institution can meet this criteria, select <strong> "yes" </strong>. </p>
		<div class="answer-choice">
			<label for="q2-finance"><input type="checkbox" name="question" id="q2-finance">Yes</label>
		</div>
		<div class="answer-choice">
			<label for="q2-knowledge"><input type="checkbox" name="question" id="q2-knowledge">No</label>
		</div>
	</div>

	<div class="item col-lg-8">
    	<h4 class="uppercase">Does your institution employee any agents who provide organized, consistent, on-the-ground recruiting of students in New Mexico? </h4>
    	<div class="accordion" id="accordion3">
			<div class="accordion-group">
				<div class="accordion-heading">
					<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion3" href="#collapseThree"><i class="fa fa-chevron-circle-right"></i> What about agents that provide occasional recruiting?</p>
				</div>
				<div id="collapseThree" class="accordion-body collapse">
					<div class="accordion-inner">
						For ONLY occasional recruiting of students outside of your institution's home state (i.e. job fairs in New Mexico) by your institution's employees or agents, Select "No".If agents recruit at re-occuring events, select "Yes". 
					</div>
				</div>
			</div>
		</div>
        <p class="question-prompt"><span class="question-number">3. </span>If your institution can meet this criteria, select <strong> "yes" </strong>.</p>
		<div class="answer-choice">
			<label for="q3-yes"><input type="checkbox" name="question" id="q3-yes">Yes</label><span class="option-explanation"></span>
		</div>
		<div class="answer-choice">
			<label for="q3-no"><input type="checkbox" name="question" id="q3-no">No</label><span class="option-explanation"></span>
		</div>
	</div>

	<!-- Screen -->
	<div class="item col-lg-8">
    	<h4 class="uppercase">How many employees or agents does your institution have that provide organized, consistent, on-the-ground recruiting of students in New Mexico?</h4>
        <p class="question-prompt"><span class="question-number">4. </span>Please give us a specific number:</p>
		<div class="answer-choice"><label for="q4-mobile"><input type="checkbox" name="question" id="q4-mobile">***Space to give a number***</label></div>
	</div>

	<!-- Screen -->
	<div class="item col-lg-8">
		<h4 class="uppercase">Does your institution offer programs that lead to licensure and/or that require external approval from a seperate organization or entity ( e.g. nursing, education, cosmetology, trucking, etc.)?</h4>
		<div class="accordion" id="accordion5">
			<div class="accordion-group">
				<div class="accordion-heading">
					<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion5" href="#collapseFive"><i class="fa fa-chevron-circle-right"></i> What types of programs require external approval in New Mexico? </p>
				</div>
				<div id="collapseFive" class="accordion-body collapse">
					<div class="accordion-inner">
						Education; Nursing; Cosmetology; Acupuncture and Oriental Medicine; Massage Therapy; Private Investigations; Allied Health Professions. 
					</div>
				</div>
			</div>
		</div>
		<div class="accordion" id="accordion6">
			<div class="accordion-group">
				<div class="accordion-heading">
					<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion6" href="#collapseSix"><i class="fa fa-chevron-circle-right"></i> More on licensure and the New Mexico Higher Education Department (NMHED). </p>
				</div>
				<div id="collapseSix" class="accordion-body collapse">
					<div class="accordion-inner">
						In addition to the programs listed that require external program approval, there are 29 Boards and Commissions Divisions that provide professional licensure and may have jurisdiction over the respective programs and institutions offering such programs. At times an institution may be under both, the oversight of NMHED and a board. If the institutionis offering programs not falling under the jurisdiction of the particular board or department, responsible for the institution's oversigt, then the oversight responsibility falls to NMHED. 
					</div>
				</div>
			</div>
		</div>
	    <p class="question-prompt"><span class="question-number">5. </span>If your institution offers any of these programs that lead to licensure, select "yes." This will trigger regulatory action with the New Mexico Higher Education Department.</p>
		<div class="answer-choice">
			<label for="q5-you"><input type="checkbox" name="question" id="q5-you">Yes</label>
		</div>
		<div class="answer-choice">
			<label for="q5-group"><input type="checkbox" name="question" id="q5-group">No</label>
		</div>
		<div class="answer-choice">
			<label for="q5-voting"><input type="checkbox" name="question" id="q5-voting">Do not know</label>
	</div>

	<div class="item col-lg-8">
    	<h4 class="uppercase">Does your institution offer any of the following in New Mexico?</h4>
    </div>
					
			<!-- Screen -->	

					 <div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution offer any of the following in New Mexico?</h4>
	                	<div class="accordion" id="accordion7">
							<div class="accordion-group">
								<div class="accordion-heading">
									<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion7" href="#collapseSeven"><i class="fa fa-chevron-circle-right"></i> Currently non-accredited but planning to work towards accreditation?</p>
								</div>
								<div id="collapseSeven" class="accordion-body collapse">
									<div class="accordion-inner">
										Non-accredited institutions may go through the authorization process, but must demonstrate a plan to become accredited within three years.  
									</div>
								</div>
							</div>
						</div>
	                    <p class="question-prompt"><span class="question-number">6. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q6-seminars"><input type="checkbox" name="question" id="q6-seminars"> Host short-term, face-to-face seminars or conferences?</label>
						</div>
						<div class="answer-choice">
							<label for="q6-intern"><input type="checkbox" name="question" id="q6-intern">Permit a student to complete an internship, externship, field experience, or clinical practicum organized by your institution?</label>
						</div>
						<div class="answer-choice">
							<label for="q6-independent"><input type="checkbox" name="question" id="q6-independent">Permit a student to complete an internship, externship, field experience, or clinical practicum organized by the student acting independently?</label>
						</div>
						<div class="answer-choice">
							<label for="q6-none"><input type="checkbox" name="question" id="q6-none">None of the above</label>
						</div>
						<div class="answer-choice">
							<label for="q6-dunno"><input type="checkbox" name="question" id="q6-dunno">Do not know </label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution require students outside of your home state to physically meet in a location for instructional purposes in New Mexico for (a) 40 or more hours, (b) at a cost of $500 or more, AND/OR (c) include typical enrollment as completion of a sequence, series, or multiple courses?</h4>
	                    <p class="question-prompt"><span class="question-number">7. </span> Select one option. </p>
						<div class="answer-choice">
							<label for="q7-yes"><input type="checkbox" name="question" id="q7-yes"> Yes </label>
						</div>
						<div class="answer-choice">
							<label for="q7-no"><input type="checkbox" name="question" id="q7-no"> No</label>
						</div>
						<div class="answer-choice">
							<label for="q7-dunno"><input type="checkbox" name="question" id="q7-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your insitution maintain any of the following in New Mexico?</h4>
	                    <p class="question-prompt"><span class="question-number">8. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q8-physical"><input type="checkbox" name="question" id="q8-physical"> Maintain a location (physical building) that is used for instructional activity </label>
						</div>
						<div class="answer-choice">
							<label for="q8-non-instructional"><input type="checkbox" name="question" id="q8-non-instructional"> Maintain a location (physical building) that is used only for non-instructional activities (administration,staff, recruitment, etc.) </label>
						</div>
						<div class="answer-choice">
							<label for="q8-both"><input type="checkbox" name="question" id="q8-both"> Maintain a location (physical building) that is used for BOTH, instructional and non-instructional activity? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-equipment"><input type="checkbox" name="question" id="q8-equipment"> House computer servers or other equipment? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-out"><input type="checkbox" name="question" id="q8-out"> Maintain any out-of-state addresses or phone numbers, regardless of use ? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-enrollment"><input type="checkbox" name="question" id="q8-enrollment"> Maintain a physical site, operated by your institution, that provides information to students for the purpose of enrollment (alone or in addition to other  activities)? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-support"><input type="checkbox" name="question" id="q8-support"> Maintain a physical site, operated by the institution that provides student support services (alone or in adittion to other activities)? </label>
						</div>
						<div class="answer-choice">
							<label for="q8-none"><input type="checkbox" name="question" id="q8-none"> None of the above </label>
						</div>
						<div class="answer-choice">
							<label for="q8-dunno"><input type="checkbox" name="question" id="q8-dunno"> Do not know </label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution have a contract/agreement with a New Mexico educational institution or a New Mexico entity (i.e., library, gym, computer center, etc.) to provide services for your insitution's students (i.e., library, gym, computer center, etc.)?</h4>
	                    <p class="question-prompt"><span class="question-number">9. </span> Select one option. </p>
						<div class="answer-choice">
							<label for="q9-yes"><input type="checkbox" name="question" id="q9-yes"> Yes, my institution has one or more of the types of agreements listed above </label>
						</div>
						<div class="answer-choice">
							<label for="q9-no"><input type="checkbox" name="question" id="q9-no"> No</label>
						</div>
						<div class="answer-choice">
							<label for="q9-dunno"><input type="checkbox" name="question" id="q9-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution advertise in any of the following outlets?</h4>
	                    <p class="question-prompt"><span class="question-number">10. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q10-print"><input type="checkbox" name="question" id="q10-print"> A local (New Mexico) print outlet </label>
						</div>
						<div class="answer-choice">
							<label for="q10-radio"><input type="checkbox" name="question" id="q10-radio"> A local (New Mexico) radio outlet </label>
						</div>
						<div class="answer-choice">
							<label for="q10-tv"><input type="checkbox" name="question" id="q10-tv"> A local (New Mexico) television outlet </label>
						</div>
						<div class="answer-choice">
							<label for="q10-none"><input type="checkbox" name="question" id="q10-none"> None of the above</label>
						</div>
						<div class="answer-choice">
							<label for="q10-dunno"><input type="checkbox" name="question" id="q10-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">In New Mexico, does your institution employ any of the following?</h4>
	                    <p class="question-prompt"><span class="question-number">11. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q11-full"><input type="checkbox" name="question" id="q11-full"> Full-time (i.e., non-adjunct) faculty to provide instruction via distance education programs to students in New Mexico </label>
						</div>
						<div class="answer-choice">
							<label for="q11-adjunct"><input type="checkbox" name="question" id="q11-adjunct"> Adjunct faculty in Wyoming to provide instruction via distance education programs to students in New Mexico </label>
						</div>
						<div class="answer-choice">
							<label for="q11-fullwyo"><input type="checkbox" name="question" id="q11-fullwyo"> Full-time (i.e., non-adjunct) faculty in Wyoming to provide instruction via distance education programs solely to students outside of New Mexico </label>
						</div>
						<div class="answer-choice">
							<label for="q11-adjwyo"><input type="checkbox" name="question" id="q11-adjwyo"> Adjunct faculty in Wyoming to provide instruction via distance education programs solely to students outside New Mexico </label>
						</div>
						<div class="answer-choice">
							<label for="q11-none"><input type="checkbox" name="question" id="q11-none"> None of the above</label>
						</div>
						<div class="answer-choice">
							<label for="q11-dunno"><input type="checkbox" name="question" id="q11-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Does your institution offer any distance education programs (including online or correspondence study programs) that enroll New Mexico residents?</h4>
	                	<div class="accordion" id="accordion8">
							<div class="accordion-group">
								<div class="accordion-heading">
									<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion8" href="#collapseEight"><i class="fa fa-chevron-circle-right"></i> Does the extent to which a distance education program is offerred online matter for authorization in New Mexico?</p>
								</div>
								<div id="collapseEight" class="accordion-body collapse">
									<div class="accordion-inner">
										Regardless of the percentage in which a program is offered online that enrolls New Mexico students, any institution with a physical presence in New Mexico must register for authorization.  
									</div>
								</div>
							</div>
						</div>
	                    <p class="question-prompt"><span class="question-number">12. </span> If your institution offers any format of a distance education offering that enrolls New Mexico students, check "yes". </p>
						<div class="answer-choice">
							<label for="q12-yes"><input type="checkbox" name="question" id="q12-yes"> Yes </label>
						</div>
						<div class="answer-choice">
							<label for="q12-no"><input type="checkbox" name="question" id="q12-no"> No</label>
						</div>
						<div class="answer-choice">
							<label for="q12-dunno"><input type="checkbox" name="question" id="q12-dunno">Do not know</label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase"> Does your program or institution meet at least one of the 8 conditions for exemption?</h4>
	                    <div class="accordion" id="accordion9">
							<div class="accordion-group">
								<div class="accordion-heading">
									<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion9" href="#collapseNine"><i class="fa fa-chevron-circle-right"></i> Do you have proof of eligibility for exemption?</p>
								</div>
								<div id="collapseNine" class="accordion-body collapse">
									<div class="accordion-inner">
										If your program or institution qualifies for exemption with the New Mexico Department of Higher Education, you will need to provide proof that you meet one of the 8 conditions. 
									</div>
								</div>
							</div>
						</div>
	                    <p class="question-prompt"><span class="question-number">13. </span> Select all that apply. </p>
						<div class="answer-choice">
							<label for="q13-second"><input type="checkbox" name="question" id="q13-second"> Your Institution is a post-secondary educational institution that is established by name as an educational institution by the state through a charter, constitutional provision or other action and is supported in whole or in part by state or local taxation;  </label>
						</div>
						<div class="answer-choice">
							<label for="q13-indian"><input type="checkbox" name="question" id="q13-indian">  Your Institution is funded in full or in part by an Indian tribe or pueblo in the state of New Mexico; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-trade"><input type="checkbox" name="question" id="q13-trade">  Institution is an occupational, trade, or professional school operating pursuant to any New Mexico Occupational licensing law under the jurisdiction of the New Mexico Regulation and Licensing Department; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-training"><input type="checkbox" name="question" id="q13-training"> Your Insitution consists of courses of instruction provided by an employer for its employees for training purposes; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-frat"><input type="checkbox" name="question" id="q13-frat"> You have a course of instruction or study sponsored by a recognized fraternal, trade, business, or professional organization or labor union for the instruction of its members; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-org"><input type="checkbox" name="question" id="q13-org"> Organization provides only brief courses of instruction designed to teach specific skills that may be applicable in a work setting but are not sufficient in themselves to be considered programs of training in employment. Normally, such instruction shall meet at least three criteria: (a) No more than 40 hours of direct instruction, (b) Tuition/fee for each course does not exceed $500, and (c) The student normally enrolls for only one course rather than a sequence of courses; </label>
						</div>
						<div class="answer-choice">
							<label for="q13-exclu"><input type="checkbox" name="question" id="q13-exclu"> Your Institution exclusively offers education that is solely avocational or recreational in nature; and/or, </label>
						</div>
						<div class="answer-choice">
							<label for="q13-chart"><input type="checkbox" name="question" id="q13-chart"> Institution is a chartered, nonprofit religious institutions whose sole purpose is to train students in religious disciplines to prepare them to assume a vocational objective relating primarily to religion (501(c)3 IRS status letter required). </label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">Is your institution part of a multi-insitutition system (example: State University of New York - SUNY)?</h4>
	                    <p class="question-prompt"><span class="question-number">14. </span> Select one option. </p>
						<div class="answer-choice">
							<label for="q14-yes"><input type="checkbox" name="question" id="q14-yes"> Yes </label>
						</div>
						<div class="answer-choice">
							<label for="q14-no"><input type="checkbox" name="question" id="q14-no"> No </label>
						</div>
					</div>

		<!-- Screen -->	

					<div class="item col-lg-8">
	                	<h4 class="uppercase">What is your institution's anticipated or actual gross annual tuition and fee revenue in New Mexico?</h4>
	                	<div class="accordion" id="accordion10">
							<div class="accordion-group">
								<div class="accordion-heading">
									<p class="accordion-toggle why-ask" data-toggle="collapse" data-parent="#accordion10" href="#collapseTen"><i class="fa fa-chevron-circle-right"></i> How to calculate?</p>
								</div>
								<div id="collapseTen" class="accordion-body collapse">
									<div class="accordion-inner">
										If your institution has generated tutition and fee revenue in New Mexico in the last completed academic year, provide this total. Otherwise, estimate as best as you can the anticipated gross annual tuition and fee revenue for New Mexico related activity for your institution.
									</div>
								</div>
							</div>
						</div>
	                    <p class="question-prompt"><span class="question-number">14. </span> Please give us a specific number: </p>
						<div class="answer-choice">
							<label for="q14-yes"><input type="checkbox" name="question" id="q14-yes"> XXXX (client should enter dollar amount). Field should be constrained to max $XXX, XXX,XXX.00 and minimum $0.00 </label>
						</div>
					</div>





							<button class="button button-big button-border-light button-generate-report">Generate Report</button>
						</div>
					</div>
            	</div>
            	<div class="custom-navigation-buttons">
				  <a class="btn prev prev-verify">Previous</a>
				  <a class="btn next next-verify">Next</a><br>
				  <span class="error-message"></span>
				</div>
        	</div>
        </section>


		<!-- REPORT -->
		<section id="report">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-8 col-lg-offset-2 text-center">
                    	<h2 class="uppercase">What action should my institution take in New Mexico?/h2>
                        <p class="subhead">Important Considerations Based on Your Circumstances</p>
                    </div>
                    <div class="col-lg-2 text-right report-buttons">
	                    <i class="fa fa-print fa-2x print-report" onclick="window.print()" title="Save the trees!"></i>
	                    <a class="share-button" target="_blank" href="javascript:window.open('https://twitter.com/intent/tweet?url=http://crowdsourcingadvisor.org/form.html&amp;text=Find out how and when to use crowdsourcing! Try the GovLab Crowdsourcing Advisor:&amp;via=TheGovLab', 'Share on Twitter', 'width=500,height=250')">SHARE <i class="fa fa-share" title="Share your experience!"></i></a>
	                </div>
                    <!-- ACTIVITY !-->
                    <div class="col-lg-10 col-lg-offset-1 text-left report-category-heading q1">
                    	<h2 class="uppercase">Your report from the NYU State Authorization Advisor</h2>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q1-tasks">
                        <div class="service">
                            <i class="fa fa-list fa-3x"></i>
                            <h2>Apply for Authorization</h2>
                            <h3>Thank you for using NYU's Academic Accreditation Compliance Instrument. Based on your responses, your organization should apply for authorization in New Mexico. Please see below for information and instructions about how to apply:</h3>
                            <ul>
                            	<li>Apply to The New Mexico Higher Education Department for program and/or institutional authorization;</li>
								<li>You have indicated that your organization is a <strong> multi-institution system </strong>. In New Mexico, each institution within your organization must apply for authorization individually;</li>
								<li>Applications for authorization to New Mexico Higher Education Department must include either proof of current accreditation status (by a body recognized by BOTH the U.S. Department of Education and the New Mexico Higher Education Department) OR include a plan to become accredited within three years;</li>
								<li>The initial authorization application process generally takes 6 to 9 months.</li>
							</ul>
							<h3>Authorization Fee Estimate:</h3>
                            <ul>
                            	<li>Based on the information you supplied, the total cost estimate for your institution to comply with New Mexico Higher Education Department state authorization regulations is $XXX USD</li>
                            <h3>Licensing Institutions</h3>
                            <ul>
                            	<li>Based on the information you provided, that your institution is operating with a "Presence" in New Mexico, your institution needs to apply for a License.</li>
								<li>Application forms can be obtained under License at: http://www.hed.state.nm.us/institutions/applications.aspx</li>
								<li>Renewal fees:</li>
								<li>The initial authorization application process generally takes 6 to 9 months.</li>
							</ul>
                            <h3>Registering Institution</h3>
                            <ul>
                            	<li>Based on the information you provided, that your institution is operating from a location other than New Mexico and actively recruiting students in NM, your institution needs to apply to Register in New Mexico.</li>
								<li>Application forms can be obtained under Registration) at: http://www.hed.state.nm.us/institutions/applications.aspx</li>
								<li>Registration Renewal Fee is due annyally by July 1, Fee is $1,000</li>
								<li>The initial authorization application process generally takes 6 to 9 months.</li>
							</ul>


							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q1-data">
                        <div class="service">
                            <i class="fa fa-database fa-3x"></i>
                            <h3>Data</h3>
                            <ul>
                            	<li>This activity involves collecting information from a large amount of on-the-ground observers who are more likely to provide a clear picture of an event.</li>
								<li>Data gathering is particularly successful when needing to fill communications gaps during rapidly developing events.</li>
								<li>Data is mostly gathered through mechanisms such as SMS text messaging, social media or via website. Establishing multiple mechanisms to report is usually a key condition to success.</li>
								<li>Although literature suggests it has tremendous potential, the volume of information can present challenges of data mining, verification and prioritizing.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q1-funds">
                        <div class="service">
                            <i class="fa fa-money fa-3x"></i>
                            <h3>Funds</h3>
                            <ul>
                            	<li>The mechanism used to obtain fund from the crowd, also known as crowdfunding, usually involves an open call for the provision of relatively small contributions from a relatively large number of individuals.</li>
								<li>One of its advantages is that the mechanism directly connects funders with projects in need of funding, avoiding the traditional slow, multi-step funding processes like grant applications or bank loans.</li>
								<li>A generally key component for the success of this activity occurs when the crowd feels personally connected to the growth of the initiative, that is, when the motivations of both parties are aligned.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q1-opinions">
                        <div class="service">
                            <i class="fa fa-comment-o fa-3x"></i>
                            <h3>Opinions</h3>
                            <ul>
                            	<li>They key component of this activity is that it has the capacity to leverage the real-time web browsing, and increased overall connectivity around the globe of ordinary citizens.</li>
                            	<li>Also named, sentiment analysis, companies have generally used it as a method of automatic detection of negative and positive emotions, opinions and other evaluations in text.</li>
                            	<li>A challenge of crowdsourcing opinions is that it is complicated to build software that mines the Internet for opinions and has the ability to interpret that data.</li>
								<li>Another challenge is the fact that sometimes multiple sentiments are directed at the same or different targets in a single sample.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q1-ideas">
                        <div class="service">
                            <i class="fa fa-lightbulb-o fa-3x"></i>
                            <h3>Ideas</h3>
                            <ul>
                            	<li>Generally, it’s important to have a technology platform that allows you to both ask the right question and filter through the submissions to obtain the answers you’re looking for.</li>
								<li>The public sector often uses “ideation platforms” to crowdsource ideas. These online platforms provide space for brainstorming and voting to enable the crowd to submit new ideas, search previously submitted ideas, post questions and challenges, discuss and expand on ideas, vote ideas up or down and flag ideas that don’t fit the question.</li>
								<li>Given the relatively new stages of ideation platforms, institutions and entrepreneurs must acknowledge that, given certain technological constraints, the results they wish to achieve may not be the most sound.</li>
								<li>One potential complication of crowdsourcing ideas is navigating intellectual property - make sure to think about who retains the property rights of any final output.</li>
							</ul>
                        </div>
                    </div>
                    
                    <!-- Incentives !-->
                    <div class="col-lg-10 col-lg-offset-1 text-left report-category-heading q2">
                    	<h2 class="uppercase">Incentives</h2>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q2-finance">
                        <div class="service">
                            <i class="fa fa-dollar fa-3x"></i>
                            <h3>Financial Incentives</h3>
                            <ul>
                            	<li>Financial incentives are typically provided through a contest dynamic as a prize or in exchange for labor on a specific activity.</li>
                            	<li>Financial incentives are particularly effective when crowdsourcing tasks. However, the amount offered for the task can matter. Paying a larger amount for a specific number of tasks as opposed to paying a small amount per task increases the quality of the output.</li>
								<li>Some studies have shown financial rewards can have a negative effect on creative results. Therefore, whether to include a financial reward should be an important consideration for tasks that are intended to be more creative.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q2-knowledge">
                        <div class="service">
                            <i class="fa fa-book fa-3x"></i>
                            <h3>Knowledge Building</h3>
                            <ul>
                            	<li>Usually, the users that participate are part of an active community who value the creation and maintenance of content.</li>
								<li>Participants value being potential authors and editors and authoring articles co-creatively.</li>
								<li>Although creating and sustaining collaborative knowledge building is seen as an opportunity for growing and accumulating knowledge in a specific field, it can also be described as a constant work-in-progress which needs consistent feeding and maintenance.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q2-skill">
                        <div class="service">
                            <i class="fa fa-wrench fa-3x"></i>
                            <h3>Skill Development</h3>
                            <ul>
                            	<li>Crowdsourcing participants can be motivated by skill development incentives for reasons that relate to both career opportunities as well as simple interest in a particular subject or activity.</li>
								<li>Skill development incentives often require the participant to undergo some sort of training or online tutorial to learn the new skill.</li>
								<li>The crowd that is often motivated to build a portfolio for future employment is people who have a particular interest but are trying to gain expertise in that area.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q2-community">
                        <div class="service">
                            <i class="fa fa-users fa-3x"></i>
                            <h3>Community Building</h3>
                            <ul>
                            	<li>People who are willing to undertake activities for community building usually do so because they want to contribute to a large cause/project with individuals who have similar priorities</li>
								<li>Communicating exactly how their contributions will impact the common cause is key. This is particularly important in order to avoid false expectations.</li>
								<li>Generally, the greater the perceived impact of the crowd, the more they will be willing to participate and commit their time to the cause/project.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q2-civic">
                        <div class="service">
                            <i class="fa fa-university fa-3x"></i>
                            <h3>Civic Responsibility</h3>
                            <ul>
                            	<li>Altruism is cited as one of the main motivations of citizen volunteers.</li>
								<li>A participatory culture enhances increases public/citizen engagement and those individuals have a greater stake in the advancement of an issue or set of issues.</li>
								<li>Civic responsibility eases perceived barriers between a government, advocates, and the public and will enhance communication between all parties involved.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q2-public">
                        <div class="service">
                            <i class="fa fa-star-o fa-3x"></i>
                            <h3>Public Recognition</h3>
                            <ul>
                            	<li>Individuals are more likely motivated to contribute when they perceive that peers are valuing their contribution.</li>
								<li>Usually, recognition is earned by the crowd voting on or rating their peers or by reaching specific milestones in order to acquire a special status. </li>
								<li>If the recognition is going to be earned by granting the user a specific status, it is usually recommended to pay special attention to having clear rules of participation.</li>
							</ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-8 col-lg-offset-2 text-left q2-competition">
                        <div class="service">
                            <i class="fa fa-trophy fa-3x"></i>
                            <h3>Competition</h3>
                            <ul>
                            	<li>Individuals are often motivated to challenge themselves to solve a tough problem.</li>
								<li>Successful methods for foster competition among members of the crow often have the characteristics of gamification, which applies game-like characteristics to non-game settings in order to drive audience engagement and help them have fun at the same time.</li>
								<li>Sometimes competition is fostered by turning the activity into a game, but it isn’t a required element.</li>
							</ul>
                        </div>
                    </div>

                    <!-- The Crowd !-->
                    <div class="col-lg-10 col-lg-offset-1 text-left report-category-heading q3">
                    	<h2 class="uppercase">The Crowd</h2>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q3-yes">
                        <div class="service">
                            <i class="fa fa-user-secret fa-3x"></i>
                            <h3>Limit Participation to a Defined Community</h3>
                            <ul>
                            	<li>Being more selective with the type of crowd you want to engage for participation may generate higher quality in the performance.</li>
								<li>A common example of this kind of barrier to entry takes the form of a credential-based approach, i.e, a crowd made up of lawyers, or licensed physicians, etc, but it is difficult to use this type of limitation when the crowd is anonymous.</li>
								<li>Limiting participation to a specific set of users usually presents the challenge of developing a mechanism that has the ability to verify the crowd-characteristics you are looking for.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q3-no">
                        <div class="service">
                            <i class="fa fa-users fa-3x"></i>
                            <h3>Anyone Willing to Participate</h3>
                            <ul>
                            	<li>Allowing anyone to participate is generally recommended when there is no obvious combination of skills needed to find a solution.
								<li>A benefit to allowing anyone to participate is the size of the crowd - larger crowds may be able accomplish tasks at a faster rate.</li>
								<li>Usually, when everyone can participate quality control is commonly controlled through contests, where you, a group of experts, or the crowd itself can select the winner.</li>
							</ul>
                        </div>
                    </div>

                    <!-- Technology/Platform !-->
                    <div class="col-lg-10 col-lg-offset-1 text-left report-category-heading q4">
                    	<h2 class="uppercase">Technology / Platform</h2>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q4-mobile">
                        <div class="service">
                            <i class="fa fa-mobile-phone fa-3x"></i>
                            <h3>Mobile</h3>
                            <ul>
                            	<li>Allowing anyone to participate is generally recommended when there is no obvious combination of skills needed to find a solution.
								<li>A benefit to allowing anyone to participate is the size of the crowd - larger crowds may be able accomplish tasks at a faster rate.</li>
								<li>Usually, when everyone can participate quality control is commonly controlled through contests, where you, a group of experts, or the crowd itself can select the winner.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q4-website">
                        <div class="service">
                            <i class="fa fa-desktop fa-3x"></i>
                            <h3>Website</h3>
                            <ul>
                            	<li>Allowing anyone to participate is generally recommended when there is no obvious combination of skills needed to find a solution.
								<li>A benefit to allowing anyone to participate is the size of the crowd - larger crowds may be able accomplish tasks at a faster rate.</li>
								<li>Usually, when everyone can participate quality control is commonly controlled through contests, where you, a group of experts, or the crowd itself can select the winner.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q4-sms">
                        <div class="service">
                            <i class="fa fa-comment fa-3x"></i>
                            <h3>SMS</h3>
                            <ul>
                            	<li>Allowing anyone to participate is generally recommended when there is no obvious combination of skills needed to find a solution.
								<li>A benefit to allowing anyone to participate is the size of the crowd - larger crowds may be able accomplish tasks at a faster rate.</li>
								<li>Usually, when everyone can participate quality control is commonly controlled through contests, where you, a group of experts, or the crowd itself can select the winner.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q4-social">
                        <div class="service">
                            <i class="fa fa-share-alt fa-3x"></i>
                            <h3>Social Media</h3>
                            <ul>
                            	<li>Allowing anyone to participate is generally recommended when there is no obvious combination of skills needed to find a solution.
								<li>A benefit to allowing anyone to participate is the size of the crowd - larger crowds may be able accomplish tasks at a faster rate.</li>
								<li>Usually, when everyone can participate quality control is commonly controlled through contests, where you, a group of experts, or the crowd itself can select the winner.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q4-emails">
                        <div class="service">
                            <i class="fa fa-envelope fa-3x"></i>
                            <h3>Emails</h3>
                            <ul>
                            	<li>Allowing anyone to participate is generally recommended when there is no obvious combination of skills needed to find a solution.
								<li>A benefit to allowing anyone to participate is the size of the crowd - larger crowds may be able accomplish tasks at a faster rate.</li>
								<li>Usually, when everyone can participate quality control is commonly controlled through contests, where you, a group of experts, or the crowd itself can select the winner.</li>
							</ul>
                        </div>
                    </div>

                    <!-- Quality Control !-->
                    <div class="col-lg-10 col-lg-offset-1 text-left report-category-heading q5">
                    	<h2 class="uppercase">Quality Control</h2>
                    </div>

                    
                    <div class="col-lg-8 col-lg-offset-2 text-left q5-you">
                        <div class="service">
                            <i class="fa fa-female fa-3x"></i>
                            <h3>You</h3>
                            <ul>
                            	<li>Based on your choice, the activity performed by the crowd will have a high level of quality control since you or a group of experts will review the final output.</li>
							</ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-8 col-lg-offset-2 text-left q5-group">
                        <div class="service">
                            <i class="fa fa-rocket fa-3x"></i>
                            <h3>Group of Experts</h3>
                            <ul>
								<li>This kind of quality control is usually recommended for activities that require a higher level of expertise or that require complex technical abilities.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q5-voting">
                        <div class="service">
                            <i class="fa fa-check-square-o fa-3x"></i>
                            <h3>Voting</h3>
                            <ul>
                            	<li>Based on your choice, it is suggested that the activity you want the crowd to perform requires lower levels of quality control since you will have no part in the rating or selection.</li>
								<li>This kind of quality control works well when crowdsourcing ideas or opinions, because it allows the crowd to prioritize the crowdsourced output.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q5-rating">
                        <div class="service">
                            <i class="fa fa-sort-amount-desc fa-3x"></i>
                            <h3>Prioritizing</h3>
                            <ul>
                            	<li>Based on your choice, the activity performed by the crowd will have a high level of quality control since you or a group of experts will review the final output.</li>
								<li>This kind of quality control is usually recommended for activities that require a higher level of expertise or that require complex technical abilities.</li>
							</ul>
                        </div>
                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-left q5-peer">
                        <div class="service">
                            <i class="fa fa-filter fa-3x"></i>
                            <h3>Peer-Reviewed</h3>
                            <ul>
                            	<li>Based on your choice, the activity performed by the crowd will have a high level of quality control since you or a group of experts will review the final output.</li>
								<li>This kind of quality control is usually recommended for activities that require a higher level of expertise or that require complex technical abilities.</li>
							</ul>
                        </div>
                    </div>
                          
                    <div class="col-lg-8 col-lg-offset-2 text-left q5-none">
                        <div class="service">
                            <i class="fa fa-ban fa-3x"></i>
                            <h3>No Quality Control</h3>
                            <ul>
								<li>Based on your choice, you may be engaging in an activity that does not require quality control, such as crowdfunding.</li>
							</ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--- RELEVANT CASE STUDIES !-->
        <section id="relevant-case-studies">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-12 text-center">
                    	<h2 class="uppercase">Case Studies</h2>
                    </div>
                	<div class="wrapper">
                        <div id="filters-container" class="cbp-l-filters-button text-center">
                            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">All</div>
                        </div>
                        <div id="grid-container" class="cbp-l-grid-projects ">
                            <ul class="relevant-case-study-list">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="academy-info">
        	<div class="container">
        		<div class="row">
        			<div class="col-lg-12 text-center">
        				<h2 class="uppercase">Learn More</h2>
        			</div>
        			<div class="wrapper">
        				<p>Passionate about the uses of Crowdsourcing in the Public Sector? Visit <a href="http://govlabacademy.org/">The GovLab Academy</a> for additional content to help you get started in your own crowdsourcing project or contact us at <a href="mailto:crowdsourcing@thegovlab.org">crowdsourcing@thegovlab.org</a>, we are happy to help!</p>
        			</div>
        		</div>
        	</div>
        </section>





{% endblock %}