{% set total_blocks = total_case_studies/12+2 %}
{% for i in range(1, total_blocks|int(total_blocks)) %}
    <div class="cbp-loadMore-block{{i}}">
        {% for case in case_studies[i*12-1:i*12+11] %}
            <li class="cbp-item {% if case['type'] %} {{ case['type'].replace(" ","-").lower() }}{% endif%}
                                {% for f in case['scope'] %} {{ f.replace(" ","-").lower() }} {%endfor%}
                                {% if case['sector'] %} {{ case['sector'].replace(" ","-").lower() }}{% endif%}
                                {% for f in case['dimensions']['activity'] %} {{ f.replace(" ","-").lower() }} {%endfor%}
                                {% if case['cost'] %} {{ case['cost'].replace("-","").replace(" ","-").replace("$","").replace(",","").replace("/","").replace("+","").lower() }}{% endif%} ">
                <div class="cbp-caption">
                    <div class="cbp-caption-defaultWrap">
                        <img src="img/casestudies/{{case['title'].replace(".","-").replace(" ","-").lower()}}-small.png" alt="" width="100%">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <a href="ajax/{{case['title'].replace(" ","-").lower()}}.html" class="cbp-singlePage cbp-l-caption-buttonLeft"><i class="pe-3x pe-7s-plus"></i></a>
                                <a href="img/casestudies/{{case['title'].replace(".","-").replace(" ","-").lower()}}-big.png" class="cbp-lightbox cbp-l-caption-buttonRight" data-title=""><i class="pe-3x pe-7s-search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title">{{case['title']}}</div>
                <div class="cbp-l-grid-projects-desc">{{', '.join(case['focus'])}}</div>
            </li>
        {% endfor %}
    </div>
{% endfor %}
