<div class="cbp-l-project-title">{{title}}</div>
<div class="cbp-l-project-subtitle"></div>

<div class="project-screenshot">
	<ul class="cbp-slider-wrap">
		<li class="cbp-slider-item">
			<img src="img/casestudies/{{title.replace(".","-").replace(" ","-").lower()}}-big.png" alt="" class="cbp-l-project-img">
		</li>
	</ul>
</div>

<div class="cbp-l-project-container">
	<div class="cbp-l-project-desc">
		{% if description %}
		    <div class="cbp-l-project-desc-title"><span>About {{title}}</span></div>
		    <div class="cbp-l-project-desc-text">{{description}}</div>
		    <br>
	    {% endif %}
	    {% if historical_information %}
		    <div class="cbp-l-project-desc-title"><span>Historical Information</span></div>
		    <div class="cbp-l-project-desc-text">{{historical_information}}</div>
		    <br>
	    {% endif %}
	    {% if lessons %}
		    <div class="cbp-l-project-desc-title"><span>Lessons Learned</span></div>
		    <div class="cbp-l-project-desc-text">{{lessons}}</div>
		    <br>
	    {% endif %}
	    {% if challenges %}
		    <div class="cbp-l-project-desc-title"><span>Challenges</span></div>
		    <div class="cbp-l-project-desc-text">{{challenges}}</div>
		    <br>
	    {% endif %}
	    {% if validation %}
		    <div class="cbp-l-project-desc-title"><span>Validation</span></div>
		    <div class="cbp-l-project-desc-text">{{validation}}</div>
		    <br>
	    {% endif %}
	</div>
	<div class="cbp-l-project-details">
		<div class="cbp-l-project-details-title"><span>Project Details</span></div>

		<ul class="cbp-l-project-details-list">
			{% if city == 'Internet' %}
				<li><strong>Location</strong>Internet</li>
			{% else %}
				<li><strong>Location</strong>{{city}}, {{state}}</li>
				<li><strong>Country</strong>{{country}}</li>
			{% endif %}
			<li><strong>Categories</strong>{{', '.join(focus)}}</li>
			<li><strong>Scope</strong>{{', '.join(scope)}}</li>
			<li><strong>Sector</strong>{{sector}}</li>
			<li><strong>Size</strong>{{size}}</li>
		</ul>
		<a href="{{url}}" target="_blank" class="cbp-l-project-details-visit">visit the site</a>
	</div>
</div>


<br>
<br>
<br>
