		<!-- REPORT -->
		<section id="report">
        	<div class="container">
            	<div class="row">
                	<div class="col-lg-8 col-lg-offset-2 text-center">
                    	<h2 class="uppercase">What action should my institution take in New Mexico?</h2>
                        <p class="subhead">Important Considerations Based on Your Circumstances</p>
                    </div>

                    <!-- ACTIVITY !-->
                    <div class="col-lg-10 col-lg-offset-1 text-left report-category-heading q1">
                    	<h2 class="uppercase">Your report from the NYU State Authorization Advisor</h2>
                    </div>

{% include "report-apply.html" %}
{% include "report-exemption.html" %}
{% include "report-no-action.html" %}
{% include "report-unclear.html" %}
{% include "report-unregulated.html" %}

                </div>
            </div>
        </section>