<div class="col-lg-8 col-lg-offset-2 text-left q1-tasks">
<div class="service">
<i class="fa fa-list fa-3x"></i>
<h2>Unregulated Institution</h2>

<h3>Thank you for using NYU's Academic Accreditation Compliance Instrument. Based on the information you supplied, your institution or program is not able to become authorized by this agency to conduct the activity that they regulate.</h3>
<ul>
	<li>Regulatory Agency Contact: </li>
	<ul>
		<li>New Mexico Higher Education Department 2048 Galisteo Street Santa Fe, NM 87505</li>
		<li>87505 http://www.hed.state.nm.us Phone 505-476-8418</li>
	</ul>
</ul>
</div>
</div>