<div class="col-lg-8 col-lg-offset-2 text-left q1-tasks">
<div class="service">
<i class="fa fa-list fa-3x"></i>
<h2>Apply for Authorization</h2>
<h3>Thank you for using NYU's Academic Accreditation Compliance Instrument. Based on your responses, your organization should apply for authorization in New Mexico. Please see below for information and instructions about how to apply:</h3>
<ul>
	<li>Apply to The New Mexico Higher Education Department for program and/or institutional authorization;</li>
	<li>You have indicated that your organization is a <strong> multi-institution system </strong>. In New Mexico, each institution within your organization must apply for authorization individually;</li>
	<li>Applications for authorization to New Mexico Higher Education Department must include either proof of current accreditation status (by a body recognized by BOTH the U.S. Department of Education and the New Mexico Higher Education Department) OR include a plan to become accredited within three years;</li>
	<li>The initial authorization application process generally takes 6 to 9 months.</li>
</ul>
<h3>Authorization Fee Estimate:</h3>
<ul>
	<li>Based on the information you supplied, the total cost estimate for your institution to comply with New Mexico Higher Education Department state authorization regulations is $XXX USD</li>
<h3>Licensing Institutions</h3>
<ul>
	<li>Based on the information you provided, that your institution is operating with a "Presence" in New Mexico, your institution needs to apply for a License.</li>
	<li>Application forms can be obtained under License at: http://www.hed.state.nm.us/institutions/applications.aspx</li>
	<li><strong>Renewal fees</strong>:</li>
	<ul>
	     <li>Due annually by July 1</li>
	     <li>Less than $50,000 annual gross tuition revenue: $500</li>
	     <li>$50,000-$249,999 annual gross tuition revenue: $1,000</li>
	     <li>$250,000-$499,999 annual gross tuition revenue: $2,000</li>
	     <li>$500,000-$999,999 annual gross tuition revenue: $3,000</li>
		 <li>Greater than $1M annual gross tuition revenue: $5,000</li>
    </ul>
 </ul>
<h3>Registering Institution</h3>
<ul>
	<li>Based on the information you provided, that your institution is operating from a location other than New Mexico and actively recruiting students in NM, your institution needs to apply to Register in New Mexico.</li>
	<li>Application forms can be obtained under Registration) at: http://www.hed.state.nm.us/institutions/applications.aspx</li>
	<li><strong>Registration Renewal Fee</strong> is due annyally by July 1, Fee is $1,000</li>
	<li><strong>Register Agents</strong></li>
	<ul>
	     <li>Apply to register employees or agents who provide organized, consistent, on-the-ground recruiting of students in this state for agent authorization.</li>
	     <li>Please access the appropriate form at the following website by clicking on "Agent Authorization": http://www.hed.state.nm.us/institutions/applications.aspx </li>
	     <li>Please note for future years that a $200 Agent Fee will be due to the NMHED per agent, per year</li>
    </ul>
 </ul>
<h3>Change Fees</h3>
<p> Please note that after initial authorization, the NMHED also charges Change Fees on an ongoing basis </p>
<ul>
	<li>New Degree Program $1,500</li>
	<li>New Certificate Program $750</li>
	<li>Change of Ownership Degree-Granting School $1,000</li>
	<li>Change of Ownership Career School $200</li>
	<li>Change of School Name $100</li>
	<li>Change of School Location $100</li>
</ul>
<h3>Regulatory Agency Contact:</h3>
<p> New Mexico Higher Education Department 2048 Galisteo Street Santa Fe, NM 87505</p>
<p> http://www.hed.state.nm.us Phone 505-476-8418</p>
</div>
</div>