<div class="col-lg-8 col-lg-offset-2 text-left q1-tasks">
<div class="service">
<i class="fa fa-list fa-3x"></i>
<h2>No Action Necessary</h2>

<h3>Thank you for using NYU's Academic Accreditation Compliance Instrument. Based on the information you supplied, your institution's characteristics allow current operation to continue without action. You may wish to produce and send a letter to the New Mexico Higher Education Department as a courtesy, notifying the NMHED of your organization's awareness of and compliance with their regulations.</h3>
<ul>
	<li>Regulatory Agency Contact: </li>
	<ul>
		<li>New Mexico Higher Education Department 2048 Galisteo Street Santa Fe, NM 87505</li>
		<li>87505 http://www.hed.state.nm.us Phone 505-476-8418</li>
    </ul>
	<li>Register Agents</li>
	<ul>
		<li>Apply to register employees or agents who provide organized, consistent, on-the-ground recruiting of students in this state for agent authorization. Please access the appropriate form at the following website by clicking on "Agent Authorization": http://www.hed.state.nm.us/institutions/applications.aspx </li>
	</ul>
</ul>
</div>
</div>