<div class="col-lg-8 col-lg-offset-2 text-left q1-tasks">
<div class="service">
<i class="fa fa-list fa-3x"></i>
<h2>Apply for Exemption</h2>

<h3>Thank you for using NYU's Academic Accreditation Compliance Instrument. Based on the information you entered, you should apply for exemption in New Mexico. See below for information and instructions about how to apply:</h3>
<ul>
	<li>Apply for exemption using the form and information provided at the following website http://www.hed.state.nm.us/institutions/exemption.aspx;</li>
	<li>Once exemption is secured, your institution is still required to report basic enrollment data annually including (but not limited to) program changes, enrollments, course catalogs, and financial summaries;</li>
	<li>The exemption process takes approximately 6 months.</li>
</ul>

<h3>To secure exemption, you should be prepared to provide documentation to prove that your institution meets at least one of the following 8 conditions:</h3>
<ul>
	<li>Your institution is a post-secondary educational institution that is established by name as an educational institution by the state through a charter, constitutional provision or other action and is supported in whole or in part by state or local taxation;</li>
	<li>Your institution is an occupational, trade, or professional school operating pursuant to any New Mexico Occupational licensing law under the jurisdiction of the New Mexico Regulation and Licensing Department;</li>
	<li>Your program consists of courses of instruction provided by an employer for its employees for training purposes;</li>
	<li>Your institution exclusively offers education that is solely avocational or recreational in nature;</li>
	<li>Your program consists of courses of instruction or study sponsored by a recognized fraternal, trade, business, or professional organization or labor union for the instruction of its members;</li>
	<li>Your institution is a chartered, nonprofit religious institutions whose sole purpose is to train students in religious disciplines to prepare them to assume a vocational objective relating primarily to religion (501(c)3 IRS status letter required);</li>
	<li>Your institution is funded in full or in part by an Indian tribe or pueblo in the state of New Mexico; or,</li>
	<li>Your institution offers only brief courses of instruction designed to teach specific skills that may be applicable in a work setting but are not sufficient in themselves to be considered programs of training in employment. Normally, such instruction shall meet at least three criteria: </li>
	<ul>
		<li>No more than 40 hours of direct instruction;</li>
		<li>Tuition/fee for each course does not exceed $500; and,</li>
		<li>The student normally enrolls for only one course rather than a sequence of courses.</li>
    </ul>
</ul>

<h3>Regulatory Agency Contact:</h3>
<p> New Mexico Higher Education Department 2048 Galisteo Street Santa Fe, NM 87505 </p>
<p> http://www.hed.state.nm.us Phone 505-476-8418 </p>

<h3>Exemption Fee Estimate: </h3>
<p> For institutions that qualify for exemption, a one-time exemption fee of $500 will be charged.</p>

</div>
</div>